# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/

# Generated platform folders
android/.gradle/
ios/Pods/
ios/.symlinks/
linux/flutter/ephemeral/
macos/Flutter/ephemeral/
windows/flutter/ephemeral/

# IDE
.idea/
.vscode/
